/// CONSTANTS ///

$button-hover: #3891B1;
$button-inactive: #1E6A8E;
$button-pressed: #003B63;

$incorrect: #EC6259;
$wrong: #FF8B37;
$correct: #47D867;


/// MIXINS ///

@mixin button {
  color: white;
  background-color: $button-inactive;
  padding: 20px 10px;
  border: none;
  border-radius: 15px;
  transition: .3s all;
  :hover {
    background-color: $button-hover;
  }
  :active {
    background-color: $button-pressed;
  }
}

.option-button {
  transition: .2s all;
}

.option-button:hover {
  //background-color: rgba(255, 165, 0, 0.65);
  //color: white;
  //border-color: orange;
}

.correct {
  background-color: rgb(77, 187, 62);
  color: white;
  border-color: #38802c;
}

.incorrect {
  background-color: rgba(225, 47, 47, 0.58);
  color: white;
  border-color: #ff0000;
}

.current-question {
  color: #535bf2;
}

.answered {
  opacity: .5;
}
