@import "style/bundle";

body {
  background: linear-gradient(to top left, $black-5 50%, $white-100 50%);
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.app{
  display: flex;
}

.app-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-title{
  @include title;
  margin-bottom: 64px;
}

.button-start {
  @include button;
}